.step-title-wrapper {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.step-item-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.step-item-title .number {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.step-item-content {
    display: none;
}

.step-item-content.active {
    display: block;
}

.stepper-container .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.stepper-container .actions button {
    cursor: pointer;
}

.prev {
    filter: grayscale(1);
}